{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block head %}
{% endblock head %}

{% block content%}
    <h1>Enquiry !!</h1>
  <table>
        <tr>
            <td> {{ data.fname }} </td>
        </tr>
        <tr>
            <td> {{ data.lname }} </td>
        </tr>
        <tr>
            <td> {{ data.gid }} </td>
        </tr>
      <tr>
            <td> {{ data.token  }} </td>
        </tr>
      <tr>
            <td> {{ data.profile_image  }} </td>
       </tr>
{% endblock content %}



