/*============================================================================
//--//-->   Used for Home Pages(contact, about etc.) Pages specific setting.
==============================================================================*/

.home{
  padding-top: 60px;
  margin-top: 60px;
  background: silver;
}
