<!--/ footer Star /-->
<div class="footer">
      <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
               <li class="list-inline-item">
                <a href="#">Blog</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
            </ul>
              &copy; Copyright All Rights Reserved.
</div>
  <!--/ Footer End /-->