{% extends "base.html" %}
{% block title %}REST API - Example{% endblock title %}

{% block head %}
{% endblock head %}

{% block content%}
    <h1>REST - Fbapi-uf (List/GET data).</h1>
  <table>
        <tr>
            <td> {{ formdata }} </td>
        </tr>
        <tr>
            <td> {{ data }} </td>
        </tr>
        <tr>
            <td> {{ formdata.upload_image }} </td>
        </tr>
        <tr>
            <td> {{ data.upload_image }} </td>
        </tr>
      <tr>
            <td> {{ form.media }} </td>
        </tr>
      <tr>
            <td> ID = {{  data.id  }} </td>
      </tr>
      <tr>
            <td> Username = {{  data.username  }} </td>
      </tr>
      <tr>
            <td> Email = {{ data.email  }} </td>
      </tr>
      <tr>
            <td> Phone number = {{ data.contact  }} </td>
      </tr>
  </table>
<hr>
<div class="table-responsive">
<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
              <tbody>
                 {% for d in data %}
                            <tr>
                                <td> {{ d.id }} </td>
                                <td> {{ d.username }}</td>
                                <td> {{ d.email }}</td>
                                <td> {{ d.contact }}</td>
                            </tr>
                    {% empty %}
                        Nothing found
                 {% endfor %}
              </tbody>
    </table>
</div>
</div>
<hr>
<div>
{% for d in data %}
    {{ d.id}}<br>
    {{ d.username}}<br>
    {{ d.email}}<br>
    {{ d.contact}}<br>
{% empty %}
    Nothing found
{% endfor %}
</div>
{% endblock content %}